/node_modules
/public/hot
/public/storage
/public/laravel-u-editor
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/vendor
public/assets
resources/views
resources/lang
/github